<div class="container">
  <div class="row lower_header">
    <div class="header">
      
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 search_form">
      <%= sort_link(@q, :updated_at, 'おすすめ', default_order: :desc) %>
      <%= sort_link(@q, :updated_at, '新着', default_order: :desc) %>
      <%= sort_link(@q, :updated_at, '人気', default_order: :desc) %>
      <br>
      <%= search_form_for(@q,url: "/",format: :pdf, method: :get) do |f| %>
        <%= link_to '初期値に戻す', url_for, class: "btn btn-default" %>
        <br>
        <%= f.select :gender_eq, options_from_collection_for_select(@users, "id" , "gender"), prompt: '活動状況'%>
        <br>
        <%= f.select :part_1_eq, options_from_collection_for_select(@users, "part_1" , "part_1"), prompt: 'パート'%>
        <br>
        <%= f.select :part_2_eq, options_from_collection_for_select(@users, "part_2" , "part_2"), prompt: 'パート'%>
        <br>
        <%= f.select :current_place, options_from_collection_for_select(@users, "current_place" , "current_place"), prompt: '地域'%>
        <br>
        <%= f.select :part_2_eq, options_from_collection_for_select(@users, "Birth_date" , "Birth_date"), prompt: '年齢'%>
        <br>
        <%= f.select :gender_eq, options_from_collection_for_select(@users, "gender" , "gender"), prompt: '性別'%>
        <br>
        <%= f.select :part_2_eq, options_from_collection_for_select(@users, "id" , "part_2"), prompt: 'ジャンル'%>
        <br>
       <%= f.search_field :name_or_part_1_or_part_2_cont, class: "form-control", placeholder: "検索" %>
        <br>
          <%= f.submit '検索', class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-xs-9 member_lists">
      <table>
        <!-- <thead>
          <tr>
            <th>名前</th>
            <th>Email</th>
            <th>user_id</th>
            <th>誕生日</th>
            <th>gender</th>
            <th>パート</th>
            <th>歴</th>
            <th>パート</th>
            <th>歴</th>
            <th colspan="3"></th>
          </tr>
        </thead> -->
        <tbody>
          <% @users.each do |user, index| %>
            <tr>
              <td><%= image_tag "icon/user168 (2).png" , :size => "30x30" %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.user_id %></td>
              <td><%= user.Birth_date %></td>
              <td><%= user.gender %></td>
              <td><%= user.part_1 %></td>
              <td><%= user.start_at_part_1 %></td>
              <td><%= user.part_2 %></td>
              <td><%= user.start_at_part_2 %></td>
              
              <td>
                <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                            "data-sid" => current_user.id, "data-rip" => user.id %>
              </td>
              <td><%= link_to 'Show', user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>