 <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
<% if user_signed_in? %>
<%= current_user.name %>
<% else %>

<% end %>
</p>

<p>
  <strong>Email:</strong>
<%= current_user.email %>
</p>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', root_path %>

