<!-- footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="upper_footer col-xs-12">
        <%= image_tag "logo/bandkum_logo_black.png" %>
        <form>
          <textarea name="question" cols=30 rows=3>お問い合わせフォーム</textarea><br>
          <input type="button" name="submit" value="意見を送信">
        </form>
      </div>
    <!-- Social links -->
      <div class="social_links col-xs-12">
        <ul class="list-inline">
          <li>
          <%= image_tag "social_icon/40_Dark_social_icons-set-PIXEDEN/32-x-32px/twitter_dark.png" %>
          </li>
          <li>
          <%= image_tag "social_icon/40_Dark_social_icons-set-PIXEDEN/32-x-32px/facebook_dark.png" %>
          </li>
          <li>
          <%= image_tag "social_icon/40_Dark_social_icons-set-PIXEDEN/32-x-32px/google_dark.png" %>
          </li>
          <li>
          <%= image_tag "social_icon/40_Dark_social_icons-set-PIXEDEN/32-x-32px/google_dark.png" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /footer -->